.section-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25vw;
}

.xploration {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  padding-top:2%;
}

.Separation {
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  width:100%;

}

.research-box {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left:35%;

}
.research {
  border:1px solid lightgrey;
  border-radius:20px;
  width:600px;
}
.nav-categorie {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(88,212,7,1) 0%, rgba(159,247,8,1) 56%, rgba(200,255,21,1) 99%);
}
.categorie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   align-items: center;
  margin: 5px;
  width:150px;
  height: 50px;
}
.button-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  white-space: normal;
  text-align: center;
  width: 140px;
  height: 50px;
  opacity: 1;
}


/* .button-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin:5px;
  background-color: rgba(245, 245, 245 );
} */

.button-tag{
  border-radius: 20px;
  width: 7%;
  height: 3%;
  background-color: lightgrey;
  opacity: 1;
}

