.container-header {
  width:100%;
  background-color: #fff;
  color: black;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logowlp {
  margin: 1%;
  width: 15%;
  height: 8%;
}

.nav {
  background-color: #fff;
  height: 4vh;
  margin-top:2%;
  width: 30%;
}

.nav-item {
  font-size: 1.2em;
  text-decoration-line: none;
  color: black;
  margin: auto;
  display: flex;
justify-content: space-evenly;
}
