.containerdata {
  width:300px;
  height:250px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row; 
  border: 0.5px solid lightgrey;
  border-radius: 5px 5px 5px 5px;
  /* box-shadow:  0 1px 0 0 rgba(0, 0, 0, 0.3); */
}

.header-img {
 width: 300px;
 height : 180px;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 70%;
  height:70%;
}

.link {
  width: 20px;
  height: 20px;
}

.card-body {
  width: 300px;
  height: 100px;
  color: lightslategray;
  font-size: 1.2em;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}